@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body{
  font-family: 'Libre Baskerville', serif;
}
.contenedorNav {
    margin: auto;
    background-color: #A6216A;
}

.Navegador {
    background-color: white;
    display: none;
    animation: left;
}

.BotonCerrar {
    background-color: white;
}

.BotonNav {
    background-color: #A6216A;
    color: white;
    border-color: transparent;
    border-radius: 5%;
}

.titulo{
    color: #A6216A;
    text-align: center;
}