@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');



.contenedorNav {
    margin: auto;
    background-color: #A6216A;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #A6216A;
}

.Navegador {
    background-color: white;
    display: none;
    animation: left;
}

.BotonCerrar {
    background-color: white;
}

.BotonNav {
    background-color: transparent;
    color: #BF9765;
    top: 10px;
    left: 10px;
    border-color: transparent;
    position: fixed;
}

.Banner h1 {
    text-align: center;
    padding-top: 5%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: white;
    background-color: #A6216A;
    margin-top: -0.1%;
    padding-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}

.imgNosotros {
    width: 550px;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
}

.InfoSalon {
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.subtituloNosotros {
    text-align: center;
    padding-bottom: 2%;
    color: #A6216A;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 60px;
}

.footerNosotros {
    background-color: #A6216A;
    color: white;
    padding-top: 1px;
}

.logo {
    color: #A6216A;
}

.encuentranos{
    background-color: #A6216A;
    color: white;
}

.imgLocal{
    width: 550px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}