body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a6216a;
  }
  
  h1 {
    text-align: center;
    color: #bf9765;
  }

  
   .servicio {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .servicio img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .servicio h2 {
    margin-top: 0;
  }
  
  .servicio p {
    margin-top: 5px;
  }
  
  .servicio a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #bf9765;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .servicio a:hover {
    background-color: #0056b3;
  }
  
