body {
  font-family: 'Pacifico', cursive;
  font-family: 'Ysabeau Office', sans-serif;
  background-color: white;
}

.contenedorNav {
  margin: auto;
  background-color: #A6216A;
}

.Navegador {
  background-color: white;
  display: none;
  animation: left;
}

.BotonCerrar {
  background-color: white;
}

.BotonNav {
  background-color: #A6216A;
  color: white;
  border-color: transparent;
  border-radius: 5%;
}

.titulo {
  margin-top: 30px;
  font-family: 'Pacifico', cursive;
  font-family: 'Ysabeau Office', sans-serif;
  text-align: center;
  color: black;
}


.servicios{
  display: flex;
  justify-content: space-between;
}

.servicio {
  font-family: 'Pacifico', cursive;
  font-family: 'Ysabeau Office', sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #D98B99;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #4F2015;
}

.servicio img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.servicio h2 {
  margin-top: 0;
}

.servicio p {
  margin-top: 5px;
}

.servicio a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #bf9765;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.servicio a:hover {
  background-color: #0056b3;
}

.footerNosotros {
  padding-top: 1px;
  text-align: center;
  background-color: #A6216A;
  color: white;
}