<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/CompraVirtual.css">
</head>
<body>
    <div class="SideBar w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="miSidebar">
        <button class="BotonCerrar w3-bar-item w3-button w3-large" onclick="Cerrar_Nav()">Cerrar &times;</button>
        <a href="Index.html" class="OpcionNav w3-button w3-bar-item"><br>Inicio</a>
        <a href="Login.html" class="OpcionNav w3-button w3-bar-item"><br>Ingresar a sistema</a>
        <a href="CompraVirtual.html" class="OpcionNav w3-button w3-bar-item"><br>Compra Virtual</a>
        <a href="Servicios.html" class="OpcionNav w3-button w3-bar-item"><br>Servicios</a>
        <a href="Citas.html" class="OpcionNav w3-button w3-bar-item"><br>Reservacion de Cita</a>
        <a href="Nosotros.html" class="OpcionNav w3-button w3-bar-item"><br>Nosotros</a>
    </div>
    <div id="main">
        <div class="header">
            <div class="contenedorNav"> 
                <button id="AbrirNav" class="BotonNav" onclick="Abrir_Nav()">&#9776;</button>
            </div>
            <div class="Banner">
                <header>
                    <h1>Tienda</h1>
                    <div class="contenedor-icono">
                        <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" 
                         stroke-width="1.5" 
                         stroke="currentColor" 
                         class="icono">
                            <path 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                          </svg>                          
                    </div>
                </header>
                <h2>Productos para el Cabello</h2>
                <div class="contenedor-items">
                    <figure>
                       <img src="img/OLAPLEX No_3.jpg" alt="OLAPLEX">
                    </figure>
                <div class="informacion-producto">
                 <h2>OLAPLEX</h2>
                 <p class="precio">₡ </p>
                 <button class="AñadirCarrito"> Añadir al carrito </button>
                </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        function Abrir_Nav() {
            document.getElementById("main").style.marginLeft = "10%";
            document.getElementById("miSidebar").style.width = "10%";
            document.getElementById("miSidebar").style.display = "block";
            document.getElementById("AbrirNav").style.display = 'none';
        }
        function Cerrar_Nav() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("miSidebar").style.display = "none";
            document.getElementById("AbrirNav").style.display = "inline-block";
        }
    </script>
</body>

</html>