<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña</title>
    <link rel="stylesheet" type="text/css" href="css/Contrasena.css">
</head>
<body>
    <div class="gradient">
        <br>
        <br> 
        <div class="container">
            <div class="logo" style="text-align: center">
                <img src="img\LogoNancy.png" alt="Logo de empresa" style="width:35%">
            </div>
            
            <h1>Olvide mi contraseña</h1>


              <!--FORMULARIO DE CAMBIO DE CONTRASEÑA-->
            <form action="php/cambiocontrasena.php" method="POST">

                <label for="username">Usuario:</label>
                <p></p>
                <input type="text" id="username" name="username" required>
                <label for="email">Correo:</label>
                <p></p>
                <input type="email" id="email" name="email" required>
                <p></p>
                <label for="password">Nueva Contraseña:</label>
                <p></p>
                <input type="password" id="password" name="password" required>
                <p></p>
                <br>
                <input type="submit" value="CAMBIAR">
            </form>
            <a href="Login.html" class="cuenta"><br>Volver</a>
           
        </div>

        
    </div>
</body>
</html>