<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/InicioU.css">
    <title>Inicio</title>
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#A6216A" fill-opacity="1"
            d="M0,160L30,149.3C60,139,120,117,180,144C240,171,300,245,360,256C420,267,480,213,540,208C600,203,660,245,720,250.7C780,256,840,224,900,181.3C960,139,1020,85,1080,101.3C1140,117,1200,203,1260,213.3C1320,224,1380,160,1410,128L1440,96L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
        </path>
    </svg>

    <h1 class="titulo">BIENVENIDOS A NANCY'S SALON</h1>

    <h2 class="subtitulo">Detrás de cada sonrisa, hay belleza.</h2>

    <p class="bienvenida">Descubre el arte de la transformación en nuestro salón de belleza, donde cada tratamiento es
        una obra maestra cuidadosamente creada para realzar
        tu belleza única. Desde cuidados faciales que resaltan tu luminosidad natural hasta cortes de cabello que
        reflejan tu estilo personal, nuestro equipo de profesionales
        apasionados está aquí para cuidarte de pies a cabeza. Te invitamos a sumergirte en un oasis de tranquilidad y
        autodescubrimiento mientras te preparamos para brillar en
        todos los aspectos de tu vida. </p>

    <div class="container">
        <div class="box">
            <h2>Tienda Virtual</h2>
            <h3>Aqui podras encontrar todo lo que desees</h3>
            <a class="boton" href="TiendaVirtual.php">Acceder</a>
        </div>
        <div class="box">
            <h2>Servicios</h2>
            <h3>Todos nuestras especialidades estan aqui</h3>
            <a class="boton" href="Servicios.php">Acceder</a>
        </div>
        <div class="box">
            <h2>Reservacion de Cita</h2>
            <h3>Ven a transformar tu belleza</h3>
            <a class="boton" href="Citas.html">Acceder</a>
        </div>
        <div class="box">
            <h2>Nosotros</h2>
            <h3>Conoce un poco de nuestro salon y de su historia</h3>
            <a class="boton" href="Nosotros.html">Acceder</a>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#A6216A" fill-opacity="1"
            d="M0,160L30,149.3C60,139,120,117,180,144C240,171,300,245,360,256C420,267,480,213,540,208C600,203,660,245,720,250.7C780,256,840,224,900,181.3C960,139,1020,85,1080,101.3C1140,117,1200,203,1260,213.3C1320,224,1380,160,1410,128L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
        </path>
    </svg>

    <!--PIE DE PAGINA-->
    <footer>
        <div class="carousel">
            <img src="img/l1.jpg" alt="Imagen 1">
            <img src="img/l2.jpg" alt="Imagen 2">
            <img src="img/l3.jpg" alt="Imagen 3">
            <img src="img/l4.jpg" alt="Imagen 4">
            <img src="img/l5.jpg" alt="Imagen 5">
            <img src="img/l6.jpg" alt="Imagen 6">
            <img src="img/l7.jpg" alt="Imagen 7">
            <img src="img/l8.jpg" alt="Imagen 8">
            <img src="img/l9.jpg" alt="Imagen 9">
            <img src="img/l10.jpg" alt="Imagen 10">

        </div>
    </footer>
</body>

</html>