<!DOCTYPE html>
<html>
<head>
  <title>Servicios de Estilo & Belleza</title>
  <link rel="stylesheet" type="text/css" href="servicios.css">
</head>
<body>
  <h1>Nancy’s Hair Salon</h1>
  

  <div class="servicio">
    <img src="corte.cabello.jpg" alt="Corte de Cabello">
    <h2>Corte de Cabello</h2>
    <p>Descripción del servicio de corte de cabello.</p>
    
  </div>

  <div class="servicio">
    <img src="lavado.cabello.jpg" alt="Lavado de Cabello">
    <h2>Lavado de Cabello</h2>
    <p>Descripción del servicio de lavado de cabello.</p>
    
  </div>

  <div class="servicio">
    <img src="planchado.jpg" alt="Planchado de cabello">
    <h2>Planchado de cabello</h2>
    <p>Descripción del servicio de planchado de cabello.</p>
  </div>

  <div class="servicio">
    <img src="tinte.jpg" alt="Tintes">
    <h2>Tintes</h2>
    <p>Descripción del servicio de tintes.</p>
    
  </div>


  <div class="servicio">
    <img src="keratina.jpg" alt="Keratinas">
    <h2>Keratinas</h2>
    <p>Descripción del servicio de keratinas</p>
    
  </div>

  <div class="servicio">
    <img src="depilacion.jpg" alt="Depilación">
    <h2>Depilación</h2>
    <p>Descripción del servicio de depilación.</p>
    
  </div>

  <div class="servicio">
    <img src="manicure.jpg" alt="Manicure">
    <h2>Manicure</h2>
    <p>Descripción del servicio de manicure.</p>
    
  </div>

  <div class="servicio">
    <img src="pedicure.jpg" alt="Pedicure">
    <h2>Pedicure</h2>
    <p>Descripción del servicio de pedicure.</p>
    
  </div>

  <div class="servicio">
    <img src="maquillaje.jpg" alt="Maquillaje">
    <h2>Maquillaje</h2>
    <p>Descripción del servicio de maquillaje.</p>
    
  </div>

  <div class="servicio">
    <img src="bronceados.jpg" alt="Bronceados">
    <h2>Bronceados</h2>
    <p>Descripción del servicio de bronceados.</p>
    
  </div>

  <div class="servicio">
    <img src="lifting.jpg" alt="Liftin de pestañas">
    <h2>Liftin de pestañas</h2>
    <p>Descripción del servicio de Liftin de pestañas.</p>
    
  </div>
 
</body>
</html>
