<!DOCTYPE html>
<html>

<head>
  <title>Servicios</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/servicio.css">
</head>

<body>

  <!-- SIDEBAR -->
  <div class="Navegador w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="miSidebar">
    <button class="BotonCerrar w3-bar-item w3-button w3-large" onclick="Cerrar_Nav()">Cerrar &times;</button>
    <a href="Index.html" class="OpcionNav w3-button w3-bar-item"><br>Inicio</a>
    <a href="Login.html" class="OpcionNav w3-button w3-bar-item"><br>Ingresar a sistema</a>
    <a href="TiendaVirtual.html" class="OpcionNav w3-button w3-bar-item"><br>Tienda Virtual</a>
    <a href="Servicios.html" class="OpcionNav w3-button w3-bar-item"><br>Servicios</a>
    <a href="Citas.html" class="OpcionNav w3-button w3-bar-item"><br>Reservacion de Cita</a>
    <a href="Nosotros.html" class="OpcionNav w3-button w3-bar-item"><br>Nosotros</a>
  </div>

  <div id="main">
    <div class="contenedorNav">
      <button id="AbrirNav" class="BotonNav" onclick="Abrir_Nav()">&#9776; </button>
    </div>
  </div>

  <h1 class="titulo">Servicios<br></h1>


  <div class="servicios">
    <div class="servicio">
      <img src="img/corte.cabello.jpg" alt="Corte de Cabello">
      <h2>Corte de Cabello</h2>
      <p>Descripción del servicio de corte de cabello.</p>

    </div>

    <div class="servicio">
      <img src="img/lavado.cabello.jpg" alt="Lavado de Cabello">
      <h2>Lavado de Cabello</h2>
      <p>Descripción del servicio de lavado de cabello.</p>

    </div>

    <div class="servicio">
      <img src="img/planchado.jpg" alt="Planchado de cabello">
      <h2>Planchado de cabello</h2>
      <p>Descripción del servicio de planchado de cabello.</p>
    </div>

    <div class="servicio">
      <img src="img/tinte.jpg" alt="Tintes">
      <h2>Tintes</h2>
      <p>Descripción del servicio de tintes.</p>

    </div>
  </div>

  <div class="servicios">
    <div class="servicio">
      <img src="img/keratina.jpg" alt="Keratinas">
      <h2>Keratinas</h2>
      <p>Descripción del servicio de keratinas</p>

    </div>

    <div class="servicio">
      <img src="img/depilacion.jpg" alt="Depilación">
      <h2>Depilación</h2>
      <p>Descripción del servicio de depilación.</p>

    </div>

    <div class="servicio">
      <img src="img/manicure.jpg" alt="Manicure">
      <h2>Manicure</h2>
      <p>Descripción del servicio de manicure.</p>

    </div>

    <div class="servicio">
      <img src="img/pedicure.jpg" alt="Pedicure">
      <h2>Pedicure</h2>
      <p>Descripción del servicio de pedicure.</p>

    </div>
  </div>
  <div class="servicios">

    <div class="servicio">
      <img src="img/maquillaje.jpg" alt="Maquillaje">
      <h2>Maquillaje</h2>
      <p>Descripción del servicio de maquillaje.</p>

    </div>

    <div class="servicio">
      <img src="img/bronceados.jpg" alt="Bronceados">
      <h2>Bronceados</h2>
      <p>Descripción del servicio de bronceados.</p>

    </div>

    <div class="servicio">
      <img src="img/lifting.jpg" alt="Lifting de pestañas">
      <h2>Lifting de pestañas</h2>
      <p>Descripción del servicio de Liftin de pestañas.</p>

    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footerNosotros text-light">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Nancy's Salon
            </h6>
            <p>
              Salon de belleza con una gran variedad de servicios para brindar. Ademas vendemos productos
              de alta
              gama para el cuidado de tu cabello, uñas y piel. <br> ¡Agenda tu cita con nosotros!

            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Navegar
            </h6>
            <p>
              <a href="Index.html" class="link-light">Inicio</a>
            </p>
            <p>
              <a href="Login.html" class="link-light">Login</a>
            </p>
            <p>
              <a href="TiendaVirtual.html" class="link-light">Tienda Virtual</a>
            </p>
            <p>
              <a href="Citas.html" class="link-light">Reservar Cita</a>
            </p>
            <p>
              <a href="Nosotros.html" class="link-light">Nosotros</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> San José, Costa Rica</p>
            <p>
              <i class="fas fa-envelope me-3"></i>

              Centrodebellezanancyssalon@gmail.com

            </p>
            <p><i class="fas fa-phone me-3"></i> +506 8990-2392</p>
            <p><i class="fas fa-phone me-3"></i> +506 2229 1726</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold">Nancy Salon</a>
    </div>
  </footer>

  <script src="js/Servicios.js"></script>

</body>

</html>