<!DOCTYPE html>
<html>

<head>
    <title>Tienda Virtual</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/TiendaVirtual.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="Navegador w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="miSidebar">
        <button class="BotonCerrar w3-bar-item w3-button w3-large" onclick="Cerrar_Nav()">Cerrar &times;</button>
        <a href="Index.html" class="OpcionNav w3-button w3-bar-item"><br>Inicio</a>
        <a href="Login.html" class="OpcionNav w3-button w3-bar-item"><br>Ingresar a sistema</a>
        <a href="TiendaVirtual.html" class="OpcionNav w3-button w3-bar-item"><br>Tienda Virtual</a>
        <a href="Servicios.html" class="OpcionNav w3-button w3-bar-item"><br>Servicios</a>
        <a href="Citas.html" class="OpcionNav w3-button w3-bar-item"><br>Reservacion de Cita</a>
        <a href="Nosotros.html" class="OpcionNav w3-button w3-bar-item"><br>Nosotros</a>
    </div>

    <div id="main">
        <div class="contenedorNav">
            <button id="AbrirNav" class="BotonNav" onclick="Abrir_Nav()">&#9776; </button>
        </div>
    </div>

    <!-- PRODUCTOS -->
    <h1 class="titulo">Tienda Virtual Nancy's Salon</h1>

    <!-- CABELLO -->
    <h2 class="cabello">Cabello</h2>
    <div class="productos">
        <div class="producto">
            <img src="img/OLAPEX1.jpg" alt="OLAPEX1" style="width: 100%;">
            <h2>OLAPLEX HAIR PERFECTOR N3</h2>
            <p>Precio: &#8353;1000</p>
            <button class="agregarcarrito" onclick="addToCart('OLAPLEX HAIR PERFECTOR N3:', 1000)">Agregar al
                carrito</button>
        </div>

        <div class="producto">
            <img src="img/OLAPEXSHAMPOO.png" alt="OLAPEX1" style="width: 100%;">
            <h2>OLAPLEX SHAMPOO <br> N4</h2>
            <p>Precio: &#8353;2000</p>
            <button class="agregarcarrito" onclick="addToCart('OLAPLEX SHAMPOO N4:', 2000)">Agregar al carrito</button>
        </div>

        <div class="producto">
            <img src="img/OLAPLEX N4 SHAMPOO.webp" alt="OLAPEX1" style="width: 100%;">
            <h2>OLAPLEX CLARIFYING SHAMPOO N4</h2>
            <p>Precio: &#8353;1500</p>
            <button class="agregarcarrito" onclick="addToCart('OLAPLEX CLARIFYING SHAMPOO N4:', 1500)">Agregar al
                carrito</button>
        </div>
    </div>

    <!-- UNAS -->
    <h2 class="uñas">Uñas</h2>
    <div class="productos">
        <div class="producto">
            <img src="img/GelColorGCNAILS.png" alt="OLAPEX1" style="width: 100%;">
            <h2>GC NAILS GEL COLOR</h2>
            <p>Precio: &#8353;1000</p>
            <button class="agregarcarrito" onclick="addToCart('GC NAILS GEL COLOR:', 1000)">Agregar al
                carrito</button>
        </div>

        <div class="producto">
            <img src="img/EsmalteRed.png" alt="OLAPEX1" style="width: 100%;">
            <h2>ESMALTE <br> RED <br> #225</h2>
            <p>Precio: &#8353;2000</p>
            <button class="agregarcarrito" onclick="addToCart('ESMALTE RED #225:', 2000)">Agregar al carrito</button>
        </div>

        <div class="producto">
            <img src="img/KIKI.png" alt="OLAPEX1" style="width: 100%;">
            <h2>KIKI PRO NAILS 4</h2>
            <p>Precio: &#8353;1500</p>
            <button class="agregarcarrito" onclick="addToCart('KIKI PRO NAILS 4:', 1500)">Agregar al
                carrito</button>
        </div>
    </div>

    
    <!-- MAQUILLAJE -->
    <h2 class="maquillaje">Maquillaje</h2>
    <div class="productos">
        <div class="producto">
            <img src="img/NAM.png" alt="OLAPEX1" style="width: 100%;">
            <h2>NAM KIT</h2>
            <p>Precio: &#8353;1000</p>
            <button class="agregarcarrito" onclick="addToCart('NAM KIT:', 1000)">Agregar al
                carrito</button>
        </div>

        <div class="producto">
            <img src="img/MAC.avif" alt="OLAPEX1" style="width: 100%;">
            <h2>MAC SPF 15</h2>
            <p>Precio: &#8353;2000</p>
            <button class="agregarcarrito" onclick="addToCart('MAC SPF 15:', 2000)">Agregar al carrito</button>
        </div>

        <div class="producto">
            <img src="img/SKYHIGH.webp" alt="OLAPEX1" style="width: 100%;">
            <h2>SKYHIGH MASCARA</h2>
            <p>Precio: &#8353;1500</p>
            <button class="agregarcarrito" onclick="addToCart('SKYHIGH MASCARA:', 1500)">Agregar al
                carrito</button>
        </div>
    </div>

    <!-- CARRITO -->
    <div class="carrito">
        <h2>Carrito de compras</h2>
        <ul id="cart-items"></ul>
        <p>Total: &#8353;<span id="cart-total">0</span></p>
    </div>

    <!-- FOOTER -->
    <footer class="footerNosotros text-light">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Nancy's Salon
                        </h6>
                        <p>
                            Salon de belleza con una gran variedad de servicios para brindar. Ademas vendemos productos
                            de alta
                            gama para el cuidado de tu cabello, uñas y piel. <br> ¡Agenda tu cita con nosotros!

                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Navegar
                        </h6>
                        <p>
                            <a href="Index.html" class="link-light">Inicio</a>
                        </p>
                        <p>
                            <a href="Login.html" class="link-light">Login</a>
                        </p>
                        <p>
                            <a href="Servicios.html" class="link-light">Servicios</a>
                        </p>
                        <p>
                            <a href="Citas.html" class="link-light">Reservar Cita</a>
                        </p>
                        <p>
                            <a href="Nosotros.html" class="link-light">Nosotros</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> San José, Costa Rica</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>

                            Centrodebellezanancyssalon@gmail.com

                        </p>
                        <p><i class="fas fa-phone me-3"></i> +506 8990-2392</p>
                        <p><i class="fas fa-phone me-3"></i> +506 2229 1726</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold">Nancy Salon</a>
        </div>
    </footer>


    <script src="js/TiendaVirtual.js"></script>
</body>

</html>